[submodule "labs/programmability"]
	path = labs/programmability
	url = https://github.com/f5devcentral/f5-automation-labs.git
[submodule "labs/irules"]
	path = labs/irules
	url = https://github.com/f5devcentral/f5-agility-labs-irules.git
[submodule "labs/adc"]
	path = labs/adc
	url = https://github.com/f5devcentral/f5-agility-labs-adc.git
[submodule "labs/automation"]
	path = labs/automation
	url = https://github.com/f5devcentral/f5-agility-labs-automation.git
